[submodule "packages/slurm"]
	path = packages/slurm
	url = https://github.com/ffevotte/slurm.el.git
[submodule "packages/expand-region"]
	path = packages/expand-region
	url = https://github.com/ffevotte/expand-region.el
[submodule "packages/multiple-cursors"]
	path = packages/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el
[submodule "packages/a2ps-multibyte"]
	path = packages/a2ps-multibyte
	url = https://github.com/ffevotte/a2ps-multibyte.el.git
[submodule "packages/isend"]
	path = packages/isend
	url = https://github.com/ffevotte/isend-mode.el.git
[submodule "packages/use-package"]
	path = packages/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "packages/adaptive-wrap"]
	path = packages/adaptive-wrap
	url = https://github.com/emacsmirror/adaptive-wrap.git
[submodule "packages/markdown-mode"]
	path = packages/markdown-mode
	url = https://github.com/defunkt/markdown-mode.git
[submodule "packages/auto-complete"]
	path = packages/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "packages/popup"]
	path = packages/popup
	url = https://github.com/auto-complete/popup-el
[submodule "packages/autopair"]
	path = packages/autopair
	url = https://github.com/capitaomorte/autopair.git
[submodule "packages/cl-lib"]
	path = packages/cl-lib
	url = https://github.com/emacsmirror/cl-lib.git
[submodule "packages/bookmark+"]
	path = packages/bookmark+
	url = https://github.com/emacsmirror/bookmark-plus.git
[submodule "packages/helm"]
	path = packages/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "packages/outshine"]
	path = packages/outshine
	url = https://github.com/tj64/outshine.git
[submodule "packages/smex"]
	path = packages/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "packages/ido-ubiquitous"]
	path = packages/ido-ubiquitous
	url = https://github.com/DarwinAwardWinner/ido-ubiquitous.git
[submodule "packages/wgrep"]
	path = packages/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "packages/yasnippet"]
	path = packages/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "packages/multi-term"]
	path = packages/multi-term
	url = https://github.com/emacsmirror/multi-term.git
[submodule "packages/magit"]
	path = packages/magit
	url = https://github.com/magit/magit.git
[submodule "packages/git-modes"]
	path = packages/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "packages/multi-compile"]
	path = packages/multi-compile
	url = https://github.com/ffevotte/multi-compile.git
[submodule "packages/fortran-index-args"]
	path = packages/fortran-index-args
	url = https://github.com/ffevotte/fortran-index-args.git
