[submodule "packages/use-package"]
	path = packages/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "packages/a2ps-multibyte"]
	path = packages/a2ps-multibyte
	url = https://github.com/ffevotte/a2ps-multibyte.el.git
[submodule "packages/slurm"]
	path = packages/slurm
	url = https://github.com/ffevotte/slurm.el.git
[submodule "packages/multi-compile"]
	path = packages/multi-compile
	url = https://github.com/ffevotte/multi-compile.git
[submodule "packages/fortran-index-args"]
	path = packages/fortran-index-args
	url = https://github.com/ffevotte/fortran-index-args.git
[submodule "packages/cask"]
	path = packages/cask
	url = https://github.com/cask/cask.git
[submodule "packages/scratch"]
	path = packages/scratch
	url = https://github.com/ffevotte/scratch.el.git
