*~
.mc-lists.el
.org-id-locations
ac-comphist.dat
bookmarks
custom.el
desktops
ede-projects.el
elpa/*
ff-autoloads.el
host-*-ede.el
keyfreq
local
org-clock-save.el
predictive
semanticdb
session.*
snippets
tramp
tramp-auto-save
url